/* src/components/Header.css */

.app-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
  border-bottom: 5px solid #61dafb;
}

.app-header h1 {
  margin: 0;
  font-size: 2.5em;
}

.app-header nav ul {
  list-style: none;
  padding: 0;
  margin: 15px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 20px; /* Espaçamento entre os itens do menu */
}

.app-header nav ul li a {
  color: #61dafb;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

.app-header nav ul li a:hover {
  color: #a2edff;
}